/* ============= FONTS ============= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* ============= IMPORT =============  */
@import 'variables';

/* ============= GÉNÉRAL =============  */

*, ::before, ::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: $poppins;
    font-size: $f-3;
    background-color: $grey-1;
    color: $white-1;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1,
h2,
h3,
p,
a,
button {
    line-height: 1;
}

h1 {font-size: $f-1;}
h2 {font-size: $f-2;}

.container {
    padding: 0 20px;
    @include up-phone {
        padding: 0 50px;
    }
    @include tablet {
        padding: 0 100px;
    }
    @include laptop {
        padding: 0 150px;
    }
}

section {
    width: 100%;
    .bloc {
        padding: 20px;
        background-color: $grey-2;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

.h-100 {
    height: 100vh;
}

.w-12 {width: 100%;}
.w-8 {
    width: 100%;
    margin-right: 20px;
}
.w-6 {
    width: 100%;
    @include tablet {
        width: 49%;
    }
}
.w-4 {
    width: 100%;
    @include tablet {
        width: 300px;
    }
}

.text {
    @include tablet {
        text-align: justify;
    }
}

.text-muted {
    font-size: $f-4;
    color: $white-2;
}

/* ============= NAV =============  */
nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    align-items: center;
    z-index: 50;
    @include laptop {
        display: flex;
    }
    li {
        background-color: $white-2;
        color: $grey-1;
        list-style-type: none;
        width: 50px;
        height: 50px;
        border-radius: 999px;
        margin: 10px 20px;
        white-space: nowrap;
        cursor: pointer;
        &.active {
            background-color: $blue-1;
            color: $white-1;
        }
        &:hover {
            background-color: $blue-1;
            color: $white-1;
            width: auto;
            a {
                span {
                    width: 100%;
                    margin-left: 10px;
                    overflow: visible;
                }
            }
        }
        a {
            width: 100%;
            height: 100%;
            padding: 16px;
            display: flex;
            align-items: center;
            i {
                font-size: $f-icon;
            }
            span {
                display: inline-block;
                width: 0%;
                overflow: hidden;
            }
        }
    }
}

.menu {
    display: block;
    position: fixed;
    right: 0;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 100%;
    background-color: $grey-3;
    z-index: 50;
    transition: all 0.4s ease-in-out;
    @include laptop {
        display: none;
    }
    &.active {
        width: 100%;
        height: 100%;
        border-radius: 0;
        .menu-content {
            opacity: 1;
            transform: scale(1);
            transition: all 0.2s ease 0.4s;
        }
    }
    .icon-menu {
        position: fixed;
        right: 0;
        width: 55px;
        height: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 51;
        .line {
            width: 60%;
            height: 2px;
            background-color: $white-1;
            transition: 
                transform 0.3s ease,
                opacity 0.3s ease,
                top 0.3s ease;
            position: relative;
            &:nth-child(1) {
                top: -10px;
            }
            &:nth-child(3){
                top: 10px;
            }
        }
        &.menu-anim {
            .line {
                &:nth-child(1){
                    top: 3px;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    top: -3px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .menu-content {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: all 0.2s ease;
        overflow: hidden;
        li {
            position: relative;
            list-style-type: none;
            font-size: $f-2;
            margin-bottom: 20px;
            cursor: pointer;
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -4px;
                background-color: $blue-1;
                transform-origin: 0 100%;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
            &.active {
                color: $blue-1;
            }
            &:hover {
                color: $blue-1;
                &::before {
                    transform: scale(1);
                }
            }
            a {
                display: inline-block;
                width: 100%;
                span {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
}



/* ============= ACCUEIL =============  */
#Accueil {
    padding: 150px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("../data/background.jpg");
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        background-color: rgba($color: $grey-2, $alpha: 0.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .presentation {
        z-index: 2;
        .photo-acceuil {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h1 {
            margin-top: 5px;
            text-align: center;
        }
    }
    .scroll {
        z-index: 2;
        p {
            text-align: center;
        }
        a {
            font-size: $fl-icon;
            display: flex;
            justify-content: center;
            animation: 2s infinite animate-icon-down ease-in-out;
        }
    }
}

/* ============= BTS =============  */
#BTS {
    padding-top: 40px;
    div {
        display: inline-block;
    }
    h1 {
        margin-bottom: 30px;
    }
    .bloc {
        .text-muted {
            text-align: end;
            margin-top: 10px;
        }
    }
    .options {
        display: flex;
        flex-direction: column;
        @include tablet {
            justify-content: space-between;
            flex-direction: row;
        }
        .bloc {
            h2 {
                text-align: center;
                margin-bottom: 20px;
            }
            ul {
                padding-left: 20px;
            }
        }
    }
}

/* ============= À PROPOS =============  */
#about {
    padding-top: 40px;
    h1 {
        margin-bottom: 30px;
    }
    .bloc {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: initial;
        }
        .photo-about {
            margin-bottom: 10px;
            @include tablet {
                margin-bottom: 0;
                margin-right: 20px;
            }
            img {
                width: 100px;
            }
        }
        .text {
            margin-bottom: 30px;
        }
        .btn {
            display: inline-block;
            background-color: $blue-1;
            padding: 10px 50px;
            border-radius: 5px;
        }
    }
}

/* ============= COMPÉTENCES =============  */
#skills {
    padding-top: 40px;
    h1 {
        margin-bottom: 30px;
    }
    #slider {
        position: relative;
        .slider {
            width: 100%;
            position: relative;
            .slide_viewer {
                height: 100px;
                overflow: hidden;
                position: relative;
                .slide_group {
                    height: 100%;
                    position: relative;
                    width: 100%;
                    .slide {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        &:first-child {
                            display: flex;
                        }
                        .item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 35px;
                            margin: 0 10px 20px;
                            @include tablet {
                                width: 75px;
                                height: 50px;
                            }
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .slide_buttons {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                .slide_btn {
                    color: #474544;
                    font-size: 42px;
                    margin: 0 0.175em;
                    transition: all 0.4s ease-in-out;
                    user-select: none;
                    &.active,
                    &:hover {
                        color: $white-1;
                        cursor: pointer;
                    }
                }
            }
        }
        .directional_nav {
            .previous_btn,
            .next_btn {
                position: absolute;
                top: 0;
                bottom: 0;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                width: 65px;
            }
            .previous_btn {
                left: 0;
            }
            .next_btn {
                right: 0;
            }
        }
    }
}

/* ============= STAGES =============  */
#stages {
    padding-top: 40px;
    h1 {
        margin-bottom: 30px;
    }
    .stages {
        display: flex;
        flex-direction: column;
        @include tablet {
            justify-content: space-between;
            flex-direction: row;
        }
        .bloc {
            h2 {
                text-align: center;
                margin-bottom: 20px;
            }
            h3 {
                margin-bottom: 10px;
            }
            img {
                display: block;
                width: 100%;
                margin: 20px auto 0;
                cursor: zoom-in;
            }
        }
    }
}

/* ============= PORTFOLIO =============  */
#portfolio {
    padding-top: 40px;
    h1 {
        margin-bottom: 30px;
    }
    .projets {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        justify-content: center;
        gap: 20px;
        .item {
            width: 250px;
            height: auto;
            &:hover h3 {
                color: $blue-1;
            }
            .item-img {
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            h3 {
                margin: 5px 0;
            }
        }
    }
}

/* ============= CONTACT =============  */
#contact {
    padding-top: 40px;
    h1 {
        margin-bottom: 30px;
    }
    .links {
        display: flex;
        flex-direction: column;
        @include tablet {
            justify-content: space-between;
            flex-direction: row;
        }
        .w-8 {
            padding-bottom: 10px;
        }
        .link-icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        .icon-contact {
            margin: 0 auto 20px;
            border: 2px solid $blue-1;
            &:hover {
                background-color: $blue-1;
                i {
                    color: $white-1;
                }
            }
            i {
                font-size: $f-icon;
                color: $blue-1;
            }
        }
        .social-medias {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @include up-phone {
                padding: 0 10%;
            }
            @include tablet {
                padding: 0;
            }
            @include desktop {
                padding: 0 15%;
            }
            .link-icon {
                border: 2px solid $white-2;
                margin: 0 10px 10px;
                @include tablet {
                    margin: 0 20px 10px;
                }
                &:hover {
                    background-color: $white-2;
                    i {
                        color: $grey-1;
                    }
                }
                i {
                    color: $white-2;
                }
            }
        }
        p {
            text-align: center;
        }
    }
}

/* ============= FOOTER =============  */
footer {
    margin-top: 30px;
    padding: 60px;
    background-color: black;
    p {
        text-align: center;
    }
}